<div class="main">
  <div class="container">
    <ul>
      <div>Bello, nothing to see here.</div>
      <img src="https://s17-us2.ixquick.com/cgi-bin/serveimage?url=http%3A%2F%2Fimg-new.cgtrader.com%2Fitems%2F67046%2Flarge_minion_baby_3d_model_max_d44b57c6-87e7-4e1f-bd25-0e78bab8c537.jpg&sp=7ee4707165fc5183eef5003c690dc736" height="400">
    </ul>
  </div>
</div>
