<div class="main">
  <div class="container">
    <ul>
    <h2>Quan Tran</h2>
    <img src="https://s17-us2.ixquick.com/cgi-bin/serveimage?url=http%3A%2F%2Fimg-new.cgtrader.com%2Fitems%2F67046%2Flarge_minion_baby_3d_model_max_d44b57c6-87e7-4e1f-bd25-0e78bab8c537.jpg&sp=7ee4707165fc5183eef5003c690dc736" width="250"><br>
      <%= link_to 'View my work', portfolio_path %>
    </ul>
    <div class="proverb">
      <h1>If you want to walk fast, walk alone; but if you want to walk far, walk together</h1>
      <h3 class="source">An African proverb</h3>
  </div>
</div>
